.form-background {
    background-image: url("assets/images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10%;
}


/* .bg-image {
    background: rgba(0, 0, 0, 0.6);
} */


/* #navbarHeight {
    max-height: 30px;
    background-color: #4d455c !important;
} */


/* 
.bg-light {
    background-color: #4c3b4d !important;
} */